

<!-- <button (click)="getDataFromAPI()">Get Data</button> -->
<app-spiner></app-spiner>
<mat-toolbar color="primary" >
  <mat-toolbar-row style="text-align: right;">
    <span class="title-center" >Home</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-list *ngFor="let d of data"  matRipple>
  <mat-list-item routerLink="['/album', d.id]">{{d.name}}
    <span class="slot">
      <mat-icon  matRipple (click)="UserClicked(d.id)"> navigate_next</mat-icon>
    </span>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
<!-- <router-outlet></router-outlet> -->
<!-- <app-album></app-album> -->
<!-- <app-photo></app-photo> -->
