// mat-toolbar {
// display: flex;
// justify-content: center;
// }
.title-center {
  margin: 0 auto;
}
// mat-icon{
//   // order: 10;
//   display: flex;
//   justify-self: end;
// }
.icon {
    //  padding-left: 100px;
    display: flex;
    justify-self: end;
}
mat-icon[matListIcon] {
  order: 100;
}

.slot {
  margin-left: auto;
}
